<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=400,user-scalable=no">
    <link rel='stylesheet' href='/css/bootstrap-responsive.min.css'/>
  	<link rel='stylesheet' href='/css/bootstrap.min.css'/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://hackaya.com:8080/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>

  	<script>

      var socket = io.connect('http://hackaya.com:8080');

  		socket.on('new', function (data){
        $('.dl-horizontal').prepend('<dt>'+data+':</dt><dd>has connected</dd>');
  		});

      socket.on('err', function (err){
        console.log(err);
      });

  		socket.on('disconnection', function (data){
        $('.dl-horizontal').prepend('<dt>System:</dt><dd>'+data+' has disconnected</dd>').fadeOut(1000);
  		});

      socket.on('logged', function (wlcm){
        $('#login').fadeOut(1000);
        $('.dl-horizontal').prepend('<dt>System:</dt><dd>'+wlcm+'</dd>');
        $('.h').fadeIn(2000);
      });

      function log (){
        var username = $('#u').val();
        socket.emit('login', {user: username});
        socket.on(username, function (msg){
          console.log(msg.body);
          $('.dl-horizontal').prepend('<dt>'+msg.from+':</dt><dd>'+msg.body+'</dd>');
          console.log(parseInt(Date.now())-parseInt(msg.date));
        });
      };

      function send(){
        var body = $('#msg-body').val();
        var to = $('#msg-to').val();
        $('#msg-body').val('');
        $('#msg-to').val('');
        $('.dl-horizontal').prepend('<dt>You:</dt><dd>@'+to+' '+body+'</dd>');
        socket.emit('msg', {to: to, body: body});
      };

  	</script>
  </head>
  <body>
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <a class="brand" href="#"><%= title %></a>
        <ul class="nav">
          <li class="active"><a href="#">Chat</a></li>
          <li><a href="//rvl.io/alexdev_/coolchat">Presentation</a></li>
        </ul>
      </div>
    </div>
    <div class="page-header"><h1>CoolChat <small> Real Time Chat</small></h1></div>
    <div class="span12"> 
      <form action="javascript:log()" id="login">
        <label>Username:</label>
        <input type="text" placeholder="Username" id="u" required>
        <label>Password:</label>
        <input type="password" placeholder="Password" id="p" required>
        <button class="btn btn-primary">Log In</button>
      </form>
    </div>
    <div class="h" style="display: none;">
      <div><dl style="width: 80%" class="dl-horizontal"></dl></div>
      <div class="span12">
        <form action="javascript:send()" id="msg-box">
          <label>Message:</label>
          <textarea id="msg-body" placeholder="Write here your message"></textarea>
          <label>Destinatary:</label>
          <input type="text" placeholder="Destinatary" id="msg-to">
          <label></label>
          <button class="btn btn-primary">Send message</button>
        </form>
      </div>
    </div>
  </body>
</html>